
@font-face {
  font-family: 'Catchy Mager';
  src: url('../public/assets/fonts/CatchyMager.otf') format('otf'),
       url('../public/assets/fonts/CatchyMager.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Century Gothic';
  src: url('../public/assets/fonts/CenturyGothicPaneuropeanRegular.ttf') format('truetype'),
       url('../public/assets/fonts/CenturyGothicPaneuropeanSemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Repeat similar for the rest of your fonts */
